version: '3.8'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: Team12
      POSTGRES_PASSWORD: 86125133
      POSTGRES_DB: flight_roster_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
